a.accommodation-card {
  display: grid;
  align-items: flex-end;
  position: relative;
  height: 340px;
  background-color: var(--color-primary);
  border-radius: 10px;

  &>*,
  &::after {
    grid-area: 1/1;
    border-radius: 10px;
  }

  &>img,
  &::after {
    height: inherit;
    width: 100%;
  }

  &>img {
    z-index: 0;
    object-fit: cover;
    opacity: 0.95;
    transition: 300ms;
  }

  &::after {
    z-index: 1;
    content: "";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  }

  &>p {
    z-index: 2;
    color: white;
    width: 50%;
    margin: 0;
    padding: 1em;
  }

  &:hover>img {
    opacity: 0.5;
  }
}